<footer>

  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/rozmowki-techno-logiczne" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/rozmowki-techno-logiczne', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Podaj swój e-mail</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>

  <p>
    Znajdziesz nas na: 
    <a href="https://anchor.fm/s/1344c9c0/podcast/rss">RSS</a>, 
    <a href="https://anchor.fm/damian-melniczuk">Anchor</a>, 
    <a href="https://www.breaker.audio/rozmowki-techno-logiczne">Breaker</a>, 
    <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xMzQ0YzljMC9wb2RjYXN0L3Jzcw==">Google Podcasts</a>, 
    <a href="https://pca.st/rvlmw182">Pocket Casts</a>, 
    <a href="https://radiopublic.com/rozmwki-techno-logiczne-G4pQnk">RadioPublic</a>, 
    <a href="https://open.spotify.com/show/2MbjQGySyFNplVVIsTthVb">Spotify<a>
  </p> 
  <br><a href="https://mailhide.io/e/ndhJx" onclick="mailhidepopup=window.open('https://mailhide.io/e/ndhJx','mailhidepopup','width=580,height=635'); return false;">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
</footer>