<footer>

  Serwisy z podcastami pojawiają się i znikają. <a href="https://tinyletter.com/rozmowki-techno-logiczne">Zapisz się na powiadomienia e-mail</a>, żeby mieć pewność, że nie przegapisz żadnego odcinka! 

  <p>
    Znajdziesz nas na: 
    <a href="https://anchor.fm/s/1344c9c0/podcast/rss">RSS</a>, 
    <a href="https://anchor.fm/damian-melniczuk">Anchor</a>, 
    <a href="https://www.breaker.audio/rozmowki-techno-logiczne">Breaker</a>, 
    <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xMzQ0YzljMC9wb2RjYXN0L3Jzcw==">Google Podcasts</a>, 
    <a href="https://pca.st/rvlmw182">Pocket Casts</a>, 
    <a href="https://radiopublic.com/rozmwki-techno-logiczne-G4pQnk">RadioPublic</a> i 
    <a href="https://open.spotify.com/show/2MbjQGySyFNplVVIsTthVb">Spotify<a>.
  </p>
  
  
  <a href="https://mailhide.io/e/ndhJx" onclick="mailhidepopup=window.open('https://mailhide.io/e/ndhJx','mailhidepopup','width=580,height=635'); return false;">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
</footer>